body {
    text-align: center;
    background-color: #101A25;
}

table.grid {
    background-color: #101A25;
    margin-left: auto;
    margin-right: auto;
}

td {
    height: 60px;
    width: 60px;
}

h1 {
    color: #2980b9;
    text-align: center;
    font-family: 'Chelsea Market', cursive;
    padding-left: 19%;
}

h2 {
    color: #2980b9;
    text-align: center;
    font-size: 15px;
    font-family: 'Chelsea Market', cursive;
    padding-top: 10px;
}

#row {
    position: absolute;
    margin: 0 auto;
    text-align: center;
}

td.redcell {
    background-color: #2980B9;
}

#line {
    text-align: center;
    margin-bottom: 1px;
    height: 40px;
    border-radius: 5px;
    width: 514px;
    background-color: #34495e;
}

#line1 {
    text-align: center;
    margin-bottom: 1px;
    height: 40px;
    border-radius: 5px;
    width: 514px;
    margin-top: 500px;
    background-color: #34495e;
}

#main {
    margin-right: 0 auto;
    padding-left: 30%;
}

#checker-white {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 40px;
    width: 40px;
    background-color: white;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    border-radius: 25px;
}

h3 {
    color: #2980b9;
    text-align: center;
    font-size: 15px;
    font-family: 'Chelsea Market', cursive;
    padding-top: 11px;
}

i:hover {
    -webkit-transition: 0.4s all ease-in-out;
    -mozkit-transition: 0.4s all ease-in-out;
    -transition: 0.4s all ease-in-out;
    color: #4aa3df;
}

i {
    -webkit-transition: 0.4s all ease-in-out;
    -mozkit-transition: 0.4s all ease-in-out;
    -transition: 0.4s all ease-in-out;
}

#king-white {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 40px;
    width: 40px;
    background-color: #FFFF66;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    border-radius: 25px;
}

td.blackcell {
    background-color: #175075;
}

#checker-red {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 40px;
    width: 40px;
    background-color: #1B1919;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    border-radius: 25px;
}

#king-red {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 40px;
    width: 40px;
    background-color: #980000;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    border-radius: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    padding-top: 62px;
    padding-right: 20px;
    border-radius: 2px;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    margin: 0;
    list-style: none;
    padding: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown button {
    background: #FF6223;
    color: #FFFFFF;
    border: none;
    margin: 0;
    padding: 0.4em 0.8em;
    font-size: 1em;
    padding-right: 80px;
    padding-left: 80px;
    border-radius: 3px;
}

.dropdown a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background: #CCCCCC;
    color: #333333;
    width: 178px;
}

.dropdown a:hover {
    background: #BBBBBB;
}

h4 {
    text-align: center;
    font-size: 15px;
    font-family: 'Chelsea Market', cursive;
    margin: 0 auto;
}
